<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AR - Untold Tales</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/jeromeetienne/AR.js/2.2.2/aframe/build/aframe-ar.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png">
</head>
<body id="body_arjs">
<div id="button_wrapper">
</div>
</body>
<script src="../js/ar.js"></script>
</html>