<!DOCTYPE html>
<html lang="de">
<head>
    <title>QR Code - Untold Tales</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../css/app.css"/>
</head>
<body id="body_qrcode">

<img id="pattern" src="../assets/images/arjs/pattern/pattern-arjs.png" alt="ARjs Pattern">

<div class="qrcode-wrapper">
    <p>Scan Me!</p>
    <div id="qrcode"></div>
</div>
<script src="../js/qr.js"></script>
</body>
</html>