* {
  font-family: sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: url(../../../assets/poster/Cam_Portal_Main_Poster.jpg) no-repeat center fixed;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
}

p {
  margin: 0;
}

#pattern {
  width: 70%;
}

@media only screen and (min-width: 320px) {
  #pattern {
    width: 70%;
  }
}

@media only screen and (min-width: 400px) {
  #pattern {
    width: 50%;
  }
}

@media only screen and (min-width: 560px) {
  #pattern {
    width: 30%;
  }
}

.qrcode-wrapper {
  background-color: white;
  width: 120px;
  height: 120px;
  padding: 15px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding-bottom: 25px;
}

#qrcode img {
  width: 100%;
  height: 100%;
}

