@import url("https://use.typekit.net/tev1wqf.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

@font-face {
    font-family: 'AYearWithoutRain';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AYearWithoutRain.ttf") format('truetype');
}